.contact-details {
    .nav {
        margin-bottom: 30px;
    }
    .info {
        margin: 0 auto 50px;
        max-width: 420px;
        flex-wrap: wrap;
    }
    .transfer-fund {
        form {
            margin: 20px 0 35px;
            input {
                margin-left: 5px;
                margin-right: 15px;
                border: none;
                border-radius: 5px;
                padding: 6px;
                color: black;
            }
        }
    }
}