@font-face {
    font-family: 'Bree';
    src: url(../../assets/fonts/BreeSerif/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: 'Titillium-Bold';
    src: url(../../assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: 'Titillium-Regular';
    src: url(../../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}

